<div >
  <p-megaMenu>
    <img src="assets/imgs/logoDigesto.png">
    <h2>DIGESTO</h2>
  </p-megaMenu>
</div>
<div class="card">
  <p-tabView>
    <p-tabPanel header="Inicio">
      <p>
        Bem vindo ao Digesto
      </p>
    </p-tabPanel>
    <p-tabPanel header="Base Juridica">
      <div class="p-col-12 p-md-6 p-lg-4">
        <span>SSN</span>
        <p-inputMask
          mask="9999999-99.9999.9.99.9999"
          placeholder="999-99-9999"
        ></p-inputMask>
      </div>
    
    </p-tabPanel>
  </p-tabView>
</div>