.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #700909;
    border-color: #6b0b0b;
    color: #ffffff;
}
.p-tabview .p-tabview-nav {
    background: #ffffff;
    border: 1px solid #868386;
    border-width: 0 0 2px 0;
}